:root {
    --green: green;
    --red: red;
    --white: white;
}

/* Fonts */

.overpass-regular {
    font-family: "Overpass", serif;
    font-weight: 500;
    font-style: normal;
}

/* Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: "Overpass", serif;
    font-weight: 500;
    font-style: normal;
}

header,
footer {
    color: var(--white);
    text-align: center;
    padding: 2rem;
    background-color: var(--green);
}

main {
    background-color: var(--white);
}

h1 {
    font-size: 2rem;
}

aside {
    background-color: var(--red);
    padding: 1rem;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    padding: 1rem;
}

.apart {
    background-color: white;
}

.column {
    display: grid;
    grid-gap: .75rem;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.label {
    font-weight: bold;
    font-size: .85rem;
    text-align: right;
}

.value {
    font-size: .9rem;
    text-align: left;
}

.info,
.weather {
    text-align: center;
}

.weather img {
    width: 100px;
    height: auto;
}