@media screen and (min-width: 750px) {

	#hambutton {
		display: none;
	}  
	nav {
	    flex-direction: row;
		justify-content: flex-end;
	}  
	nav a {
	  	display: block;
	  	font-size: 1.5rem;
	}
	
  }