:root {
    --background: slategrey;
    --main-background: rgb(159, 171, 184);
}
/* Fonts */
.roboto-regular {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* Styles */
body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
header, main, footer {
    background: var(--background);
    max-width: 640px;
    margin: 1rem auto;
    padding: 1rem;
}
main {
    display: grid;
    gap: 1rem;
}
section {
    background: var(--main-background);
    padding: 1rem;
}